<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cskj.boot.goods.mapper.GoodsMapper">
	<select id="queryGoodsAll" resultType="goods">
		select * from goods
	</select>
	
	<insert id="addGoods">
		insert into goods values(null,#{name},#{price},#{createDate},#{keepDate},#{weight},#{content})
	</insert>
</mapper>